@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#listaRegistros{display: none;}
#cadastroRegistros{display: none;}

body[page=lista] #listaRegistros{
    display: block;
}
body[page=cadastro] #cadastroRegistros{
    display: block;
}

body {
    font-family:"Roboto", sans-serif;
    font-size: 13px;
    background-color: #181F28;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    font-size: 14px;
    padding: 10px 15px;
    border: 1px solid #ccc;
}

button {
    width: 150px;
    height: 30px;
    border: 2px rgba(0, 0, 0, 0.336) solid;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #181F28;
    color: white;
    border: 2px black solid;
    transition: .3s;
    cursor: pointer;
}

#listaRegistros {
    width: 1200px;
    height: 600px;
    background-color: white;
    margin: 70px auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

#cadastroRegistros {
    width: 600px;
    height: 500px;
    background-color: white;
    margin: 110px auto;
    text-align: center;
    border-radius: 10px;
}

input {
    width: 250px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
}

select {
    width: 250px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

select:hover {
    cursor: pointer;
}

.label1 {
    padding-top: 50px;
    font-size: 18px;
    font-weight: bold;
}

.label {
    font-size:18px;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}

.buttons {
    padding: 40px;
}