@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to right, #3F8CFD 50%, white);
}

.container {
    margin: 80px auto 0px auto;
    display: flex;
    background-color: white;
    height: 600px;
    width: 1000px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.5);
}

.grupo-nome {
    margin: 20px 10px 10px 60px;
    position: relative;  
}

.grupo-pass {
    margin: 10px 10px 10px 60px;
    position: relative;  
}

label {
    font-weight: bold;
    color: #3f8bfdce;
    padding: 0 5px;
    position: absolute;
    transform: translateY(-8%);
    top: 40%;
    left: 1em;
    pointer-events: none;
    transition: .3s;
    font-weight: bold;
}

input {
    color: black;
    font-size: 20px;
    font-weight: normal;
    border: none;
    background: transparent;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 1px rgba(97, 97, 97, 0.329);
    width: 300px;
    height: 60px;
    padding: 0 1rem;
    outline: none;
    margin: 8px auto;
}

input:focus~label,
input:valid~label {
    top: 0;
    background-color: white;
    font-size: 0.8rem;
    border-radius: 10px;
}

.entrar {
    width: 140px;
    height: 50px;
    font-size: 18px;
    margin: 10px 10px 10px 150px;
    background-color: #3F8CFD;
    border: 2px solid rgba(76, 76, 76, 0.493);
    color: white;
    border-radius: 25px;
    font-weight: bolder;
}

.entrar:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .2s;
}

h1 {
    margin-bottom: 10px;
    margin-left: 150px;
    color: #3F8CFD;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.scar{
 margin: auto;
}

.scar > p {
    color: #3F8CFD;
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
}

.main {
    margin: auto;
}

.main > p{
    margin: 0px 0px 30px 130px;
    font-weight: bold;
    opacity: 50%;
    color: black;
}

@media screen and (max-width: 1330px){
    .scar {
        display: none;
    }
    .container {
        width: 500px;
        height: 600px;
        margin: auto;
    }
    .main {
        margin: auto;
    }
}