@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: linear-gradient(to right, #181F28 50%, white);
    font-family:"Roboto", sans-serif;
}

.container {
    margin: 80px auto 0px auto;
    display: flex;
    background-color: white;
    height: 600px;
    width: 1000px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.5);
}

.grupo-nome {
    margin: 20px 10px 10px 60px;
    position: relative;  
}

.grupo-pass {
    margin: 10px 10px 10px 60px;
    position: relative;  
}

label {
    font-weight: bold;
    color: black;
    padding: 0 5px;
    position: absolute;
    transform: translateY(-8%);
    top: 40%;
    left: 1em;
    pointer-events: none;
    transition: .3s;
    font-weight: bold;
}

input {
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background: #E4E4E4;
    border-radius: 5px;
    box-shadow: 3px 5px 8px 1px rgba(0,0,0,0.5);
    width: 300px;
    height: 60px;
    padding: 0 1rem;
    outline: none;
    margin: 8px auto;
}

input:focus~label,
input:valid~label {
    top: 0;
    background-color: #E4E4E4;
    font-size: 0.8rem;
    border-radius: 10px;
}

.entrar {
    width: 140px;
    height: 50px;
    font-size: 18px;
    margin: 10px 10px 10px 150px;
    background-color: #181F28;
    border: 2px solid rgb(76, 76, 76);
    color: white;
    border-radius: 10px;
    font-weight: bolder;
}

.entrar:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .2s;
}

h1 {
    margin-bottom: 10px;
    margin-left: 150px;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}


.nav-lang-button {
    background-color: transparent;
    border: 1px solid rgb(76, 76, 76);
    color: white;
    padding: 8px 12px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 20px;
    margin: 80px auto 0px 10px;
}

.nav-lang-button:hover {
    cursor: pointer;
    border: 1px solid white ;
    transition: .2s;
}

main > a {
    padding-top: 10px;
    color: black;
    text-decoration: none;
}

main > a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(206, 201, 201);
    transition: .3s;
}

.scar{
 margin: auto;
}

.scar > p {
    color: black;
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
}

.main {
    margin: auto;
}

.main > p{
    margin: 0px 0px 30px 130px;
    font-weight: bold;
    opacity: 50%;
    color: black;
}

@media screen and (max-width: 1330px){
    .scar {
        display: none;
    }
    .container {
        width: 500px;
        height: 600px;
        margin: auto;
    }
    .main {
        margin: auto;
    }
}